body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF
}

/* Menu - začátek */
.header {
  overflow: hidden;
  background-color: #00A46A;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #00CA82;
  color: white;
}

.header a.active {
  background-color: #00CA82;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* Menu - konec */
/* Banner - začátek */
.banner{
  margin:0;
  font-size: 18px;
  padding: 200px;
  background-image: URL('Galerie/banner.jpg');
  align: center;
}
/* Banner - konec */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  line-height: 25px;
  border-radius: 4px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #00CA82;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: #00CA82;
  color: white;
}
